<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, tr, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<body>

    <h2 th:text="'Recipes List'">Index Page</h2>

    <table>
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Difficulty</th>
                <th>Preparation Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe: ${recipes}">
                <td th:text="${recipe.getDescription()}"></td>
                <td th:text="${recipe.getDifficulty()}"></td>
                <td th:text="${recipe.getPrepTime()}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>